body{
    background-color: #253237;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Logo */
#logo{
    width: 300px;
    margin-top: 15px;
}
/* HEADER */

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #212529;
}

.header__navigation .navigation {
    display: flex;
    align-items: center;
}

.header__navigation img {
    float: left;
    margin-left: 20px;
}

.header__login {
    display: flex;
    align-items: center;
    float: right;
    font-size: 25px;
}
.header__login button {
    margin-left: 15px;
    font-size: 20px;
}


.header__login a {
    color: #a2d2ff;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}
  
/*FIM HEADER */

/* Banner */
.banner {
    width: 100%;
    height: 500px;
}

/* Mensagem */
.mensagem{
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.mensagem h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}
.mensagem h2 {
    color: #ffcc00;
    font-size: 35px;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}
.mensagem h3 {
    color: #B5100B;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

/* Sobre */
.sobre {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 15px;
    margin-bottom: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sobre h1 {
    color: #DB3328;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sobre p {
    color: #f2f2f3;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.sobre strong{
    color: #e63946;
}

/* Conteúdo */
.conteudo-container {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.conteudo h1{
    color: #DB3328;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Estilo do contêiner do carrossel */
.carousel-container {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide figure {
    min-width: 100%;
    max-height: 100%;
    margin: 0;
    position: relative;
    text-align: center;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    max-height: 600px;
    border-radius: 10px 10px 0 0;
}

.carousel-slide figcaption {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    height: auto;
    padding: 10px;
    font-size: 20px;
    border-radius: 0 0 10px 10px;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* Motivo */
.motivo-container {
    height: 60vh;
    padding-top: 16px;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 70px;
}

.motivo {
    margin: 24px;
}

.motivo #greeting {
    color: #DB3328;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Scroll */
.offer_scroll-container {
    margin: 24px;
    overflow-y: auto;
}

.offer_scroll-container::-webkit-scrollbar {
    width: 1px;
}

.offer_scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}
/* FIM SCROLL */

.offer_list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px;

      /* CODIGO COM JS CALCULANDO OS CARDS POR COLUNA */
    display: grid;
    gap: 16px;
    grid-gap: 32px;
    margin: 0 auto;
}

.cards {
    margin-top: 30px;
    position: relative;
    width: 300px;
    height: 360px;
    overflow: hidden;
    border-radius: 8px;
    background: linear-gradient(to top, #212529, #343a40, #495057, #6c757d );
    border: 3px solid #ddd;
}

.cards span h3{
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px;
    position: absolute;
    color: #8ebdd0;
    font-size: 24px;
    font-weight: 700;
}

.cards span p{
    text-align: center;
    padding: 16px;
    color: #f2f2f3;
    font-size: 15px;
    font-weight: 700;
    margin-top: 90px;
}

.offer_list-item img {
    right: 0;
    bottom: 0;
    width: 120px;
    align-items: center;
    float: right;
    margin-right: 30px;
}

/* Perguntas */
#perguntas {
    margin-bottom: 50px;
}
.faq-container {
    margin-top: 30px;
    width: 100%;
    margin: auto;
    padding: 10px;
}

.faq-item {
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.faq-question {
    cursor: pointer;
    background-color: #161a1d;
    color: #a2d2ff;
    padding: 10px;
    border: none;
    outline: none;
    text-align: left;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #f2f2f3;
    color: #161a1d;
    border: 1px solid #f1f1f1;
    margin-top: -1px;
    font-size: 20px;
    font-weight: 700;
}

.active {
    display: block;
}